


<div id="main-wrapper">





    <div class="page-wrapper">
        <div class="container-fluid">    
            <app-sidebar></app-sidebar>
            <app-header></app-header>
            
            <app-home></app-home> 

            <!-- Rota Breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>

          
            <app-about></app-about>   
            <app-team></app-team>      
            <app-practice></app-practice>
         
            <app-contact></app-contact>           
           
           
          
          



            <!-- Rotas que serão  renderizadas -->            
            <router-outlet></router-outlet>            
            


            <!--  Mudado  para a pagina de progresso ...-->
            <!-- Estrutura HTML das páginas -->
                <!-- 
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
                -->



        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        
        <!-- 
        <footer class="footer">
            © 20xx Admin Pro by wrappixel.com
        </footer>
        -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->


        <app-footer></app-footer>

    </div>


</div>

<!-- Componente de modal personalizado que será utilizado pela aplicação ... pode poder ser aberto por qualquer página -->

<!--<app-modalimagem></app-modalimagem>-->