



<section id="gtco-practice-areas" data-section="practice-areas">


    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>Áreas de atuação</h1>
                <p class="sub">Nosso Escritório tem no Direito Civil uma de suas Principais Especialidades.</p>
                
                <p class="subtle-text animate-box" data-animate-effect="fadeIn">Practice <span>Areas</span></p>
            </div>
        </div>




        <div class="row" >

            <div class="col-md-6" >   
    
                <div class="gtco-practice-area-item animate-box" *ngFor="let personaje of opcoesAreasPrincipal">
                        <div class="gtco-icon">
                            <img src="./assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3> {{ personaje.titulo }} </h3>
                            <p> {{ personaje.descricao }}</p>
                        </div>  
                </div>
            </div>
    
    
            <div class="col-md-6" >   
    
                <div class="gtco-practice-area-item animate-box" *ngFor="let personaje of opcoesAreasPrincipal1">
                        <div class="gtco-icon">
                            <img src="./assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3> {{ personaje.titulo }} </h3>
                            <p> {{ personaje.descricao }}</p>
                        </div>  
                </div>
            </div> 
               
        </div>


    </div>
</section>






<section id="gtco-practice-areas" data-section="practice-areas">


   
<div class="container">
    <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
            <h1>Principais Direitos Não Respeitados pelas Empresas</h1>
            <p class="sub">Você pode contar com a gente para defender seus direitos!</p>
            
            <p class="subtle-text animate-box" data-animate-effect="fadeIn">Practice <span>Areas</span></p>
        </div>
    </div>



    
    <div class="row" >

        <div class="col-md-6" >   

            <div class="gtco-practice-area-item animate-box" *ngFor="let personaje of opcoesAreas">
                    <div class="gtco-icon">
                        <img src="./assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    </div>
                    <div class="gtco-copy">
                        <h3> {{ personaje.titulo }} </h3>
                        <p> {{ personaje.descricao }}</p>
                    </div>  
            </div>
        </div>


        <div class="col-md-6" >   

            <div class="gtco-practice-area-item animate-box" *ngFor="let personaje of opcoesAreas1">
                    <div class="gtco-icon">
                        <img src="./assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    </div>
                    <div class="gtco-copy">
                        <h3> {{ personaje.titulo }} </h3>
                        <p> {{ personaje.descricao }}</p>
                    </div>  
            </div>
        </div> 

    </div>



</div>
</section>























