<section id="gtco-about" data-section="about">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>Bem-vindo ao nosso escritório de advocacia</h1>
                <p class="sub">Aqueles dignos da vida mais dura desejam perdoar toda a fuga e acusar os outros dos problemas que prevêem. Ele a odeia por qualquer dor.</p>
                <p class="subtle-text animate-box" data-animate-effect="fadeIn">Welcome</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <div class="img-shadow">
                    <img src="./assets/images/escritorio.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="heading-colored">Excelência &amp; Honestidade
                </h2>
                <p>Especialista em Direito do Trabalho, tendo atendimento personalizado e realizado por equipe experiente, desenvolvemos teses modernas e eficazes, focando em algo que gere benefícios, utilizando estratégias de alto nível legal e conjuntural em favor do cliente.</p>
                <p>Nossa expertise oferece sempre aos clientes deste escritório saídas rápidas para todos os níveis de riscos, com excelentes resultados.</p>
                <p>Em suma, somos preparados para intervir em procedimentos cotidianos, mas em especial para atuar em casos com alto grau de complexidade onde conseguimos demonstrar toda nossa capacidade técnica e combatividade.</p>

                <p><a href="#" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>
            </div>
        </div>
    </div>
</section>
