<footer id="gtco-footer" role="contentinfo">
    <div class="container">
        
        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <small class="block">&copy; 2022 TECWS. Todos os direitos reservados.</small> 
                    <small class="block">Desenvolvido por TECWS <a href="http://tecws.com.br/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">TECWS</a></small>
                </p>
                <div class="pull-right">
                    <ul class="gtco-social-icons pull-right">
                      
                        <li><a href="https://web.facebook.com/sil.pereira.92"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/silvia-pereira-abranches-7b4b3212b/"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>

